
    
    <form>
      <fieldset>
        <legend>Text input</legend>
        <p>
          <label>Text box</label>
          <input type = "text"
                 id = "myText"
                 value = "text here" />
        </p>
        <p>
          <label>Password</label>
          <input type = "password"
                  id = "myPwd"
                  value = "secret" />
        </p>
        <p>
          <label>Text Area</label>
          <textarea id = "myTextArea"
                  rows = "3"
                  cols = "80">Your text here</textarea>
        </p>
      </fieldset>
    </form>

    <p>{{description}}</p>

    {{#if isAmazing}}

    <p>aren't we awesome!!</p>
            {{else}}  <p>we are too!</p>
    {{/if}}
